body {
background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnh1x1ht7/image/upload/v1653571230/ljzdnaqgcwla2qcprw11.jpg);
color: white;
background-size: cover;
background-position: center;

}
