.new_reservation {
  background-color: transparent;
}
.btn-warning {
  width: 100%;
}

.string{
  font-weight: bold;
  font-size: 16px;
}

#back {
  margin-left: 108px;
  margin-top: 24px
}

.description > h3 {
  text-align: center;
}
