<div class="container">
    <img class="picture"src="https://www.w3schools.com/howto/img_avatar2.png" />
  <div>
    <h2><p><%= @user.name %></p></h2>
    <p>My email: <%= @user.email %> </p>
    <p> My phone_number:<%= @user.phone_number %></p>
    <p> My bio:<%= @user.description %></p>
  </div>
</div>
  <div class="container d-flex m-3">
    <img class="picture p-2" src="https://as2.ftcdn.net/v2/jpg/02/94/71/77/1000_F_294717727_rYbKZ0vmgOJuqtwdIv2ycB9qXUF6ooZV.jpg" alt="">
    <img class="picture p-2" src="https://as2.ftcdn.net/v2/jpg/02/94/71/77/1000_F_294717727_rYbKZ0vmgOJuqtwdIv2ycB9qXUF6ooZV.jpg" alt="">
    <img class="picture p-2" src="https://as2.ftcdn.net/v2/jpg/02/94/71/77/1000_F_294717727_rYbKZ0vmgOJuqtwdIv2ycB9qXUF6ooZV.jpg" alt="">
    <img class="picture p-2" src="https://as2.ftcdn.net/v2/jpg/02/94/71/77/1000_F_294717727_rYbKZ0vmgOJuqtwdIv2ycB9qXUF6ooZV.jpg" alt="">
  </div>
