<div class="banner">
  <div class="container">
    <div class="ctn">
      <div><h1><strong>Welcome to Air Midgets!</strong></h1></div>
      <div><p>You want to find a midget for your party? You are at the right place</p></div>
      <%= link_to "Find your midget", midgets_url, id: "home-pustule" %>
    </div>
  </div>
</div>
