<div class="card" style="width: 9rem;">
  <div class="card-body">
    <h5 class="card-title"><%= midget.name %></h5>
    <p class="card-text"><%= midget.price %>€/jour</p>
    <%= link_to 'More infos', midget_path(midget), class: "btn btn-primary" %>
  </div>
</div>
