<div class="container">
  <div class="row">
    <div class="row row-cols-4">
      <% @midgets.each do |midget| %>
        <div class="card-trip">
          <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ctvnews.ca%2Flifestyle%2Fnot-mascots-or-buffoons-mexico-s-dwarf-wrestlers-in-the-spotlight-1.4115351&psig=AOvVaw1Pv4kUF9KVkqLRz65FDKX3&ust=1653482837221000&source=images&cd=vfe&ved=0CAkQjRxqFwoTCIDn3tyV-PcCFQAAAAAdAAAAABAD" />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to midget.name, midget %></h2>
              <p><%= link_to midget.speciality, midget %></p>
            </div>
            <h2 class="card-trip-pricing"><%= link_to midget.price, midget %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
      <%= link_to new_midget_path do %>
        <i class="fa fa-history"></i> New
      <% end %>
    </div>
  </div>
</div>
