<h1>New midget</h1>

<div class="container">
  <%= render 'form', midget: @midget %>

  <% if policy(Midget).create? %>
    <%= link_to midgets_path do %>
      <button type="button" class="btn btn-outline-secondary">Back to list</button>
    <% end %>
  <% end %>
</div>
