<h1 class="mt-5 ms-3 text-center">New midget</h1>

<div class="container">
  <%= render 'form', midget: @midget %>

  <% if policy(Midget).create? %>
    <%= link_to midgets_path do %>
      <button type="button" class="btn btn-outline-warning btn-sm"><i class="fa-solid fa-hand-point-left"></i></button>
    <% end %>
  <% end %>
</div>
